body {
    background: rgb(244, 243, 243);
    font-family: arial;
}

#header {
    font-size: 3em;
    text-align: center;
}

.sub-header {
    text-align: center;
    text-decoration: underline;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    margin: 3rem;
    border: solid black 6px;
}

nav {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a, h3 {
    text-decoration: none;
}


.name {
    font-size: 4rem;
    width: 260px;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1.5rem;
    color: black;
}

.name:active {
    color: rgb(171, 0, 0);
}

.name:hover {
    font-size: 5rem;
}